<div class="btn-group justified navbarbottom ios-navigation">

    <a href="javascript:;" ng-click="navigateTo('tracking')" ng-class="getClass('tracking') ? 'tab-selected' : 'tab-default'" class="btn btn-navbar">
        <img src="../images/icons-png/TabBar_container_{{ getClass('tracking') ? 'on' : 'off' }}.png" />
        Tracking
    </a>

    <a href="javascript:;" ng-click="navigateTo('voyage')" ng-class="getClass('voyage') ? 'tab-selected' : 'tab-default'" class="btn btn-navbar">
        <img src="../images/icons-png/TabBar_voyage_{{ getClass('voyage') ? 'on' : 'off' }}.png" />
        Voyage
    </a>
    <a href="javascript:;" ng-click="navigateTo('xx')" ng-class="getClass('xx') ? 'tab-selected' : 'tab-default'" class="btn btn-navbar">
        <img src="../images/icons-png/TabBar_container_{{ getClass('xx') ? 'on' : 'off' }}.png" />
        Routing
    </a>
    <a href="javascript:;" ng-click="navigateTo('xx')" ng-class="getClass('xx') ? 'tab-selected' : 'tab-default'" class="btn btn-navbar">
        <img src="../images/icons-png/TabBar_container_{{ getClass('xx') ? 'on' : 'off' }}.png" />
        Favoris
    </a>
    <a href="javascript:;" ng-click="navigateTo('xx')" ng-class="getClass('xx') ? 'tab-selected' : 'tab-default'" class="btn btn-navbar">
        <img src="../images/icons-png/TabBar_container_{{ getClass('xx') ? 'on' : 'off' }}.png" />
        Autres...
    </a>
</div>
